* {
	padding: 0px	margin: 0px;
	transition-delay: 5s;
	color:  #424874;
}

body {
	background-color: #DCD6F7;
}

iframe {
	position: relative;
	border: 0px;
	width: 600px;	height: 450px;
}

#links {
	position: fixed;
	padding-left: 10px;
	padding-top: 5px;
	border : solid 3px black;
	height : 100px;
	width : 350px;
	right: 5%;
	background-color: #A6B1E1;
}

#links > a {
	line-height: 150%;
}

.map {
	width: 800px;
	height: 600px; 
	border: solid 10px #A6B1E1;
}

