header {
	border-bottom: solid 2px black;
}

header > h1 {
	font-size: 60px;
}

.bords
{
	background-color: #424874;
	color: #D6E5E3;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

div > h2 {
	font-size: 50px;
}

#corp {
	background-color: #424874;
}

.marge {
	min-height: 5vh;
}

.background:hover .info {
	left:0vw;
	opacity: 1;
	border-bottom-right-radius: 100px 250px;
	border-top-right-radius: 100px 250px;
}

.info {
	position: relative;
	opacity: 0.5;
	transition: all 1s ease;
	left:-40vw;
	min-height: 75vh;
	background-color: rgba(0,0,0,0.5);
	width:45vw;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:white;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.info h2{
	width:35vw;
	font-size: 4vw;
}

.info p {
	width:35vw;
	font-size: 3vw;
	text-align: justify;
}

#back1 {
	background-image: url("../img/back1.jpg");	
}

#back2 {
	background-image: url("../img/back2.jpg");
}

#back3 {
	background-image: url("../img/back3.jpg");
}

.background {
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	min-height:75vh;
}

footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #424874;
	border-top: solid 2px black;
}

footer > p {
	font-size: 30px;
}